/* General Styles*/
body {
    background: url('../images/site-background.jpg');
    background-attachment: fixed; /* swap between fixed or local when all page content is in place */
    min-height: 100vh;
    position: relative;

}

/* Header */
header {
    background: url('../images/header-background.jpg') ;
    background-size: contain;
    width: 100%;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: row;
}

/* Main Content */
.current-book {
    max-width:300px;
    max-height: 300px;
}


/* Previously Read Section */
#previously-read {
    display: flex;
}

.previous-book {
    max-width: 200px;
    max-height: 200px;
}

.book-box-container {
    display: flex;
    flex-wrap: wrap;
}

.book-box {
    flex: 1;
    flex-basis: 33.33333%;
    justify-content: center;
}

/* Footer Section*/
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #3a3a3a;
}

#club-groups {
    display: flex;
    justify-content: space-evenly;
    
}

#club-groups i {
    font-size: 200%;
    color: #ffffff;
}