/* General Styles*/
body {
    background: url('../images/site-background.jpg');
    min-height: 100vh;
    position: relative;

}

/* Header */
header {
    background: url('../images/header-background.jpg') ;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: row;
}

/* Main Content */
.current-book {
    max-width:300px;
    max-height: 300px;
}


/* Previously Read Section */
.previous-book {
    max-width: 300px;
    max-height: 300px;
}

.book-box-container {
    display: flex;
    width: 100%;

}

.book-box {
    flex: 1;
}

/* Footer Section*/
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #3a3a3a;
}

#club-groups {
    display: flex;
    justify-content: space-evenly;
    
}

#club-groups i {
    font-size: 200%;
    color: #ffffff;
}